In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'fruits.txt',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'temps_today.csv',
 'Untitled.ipynb',
 'verduras.txt']

In [2]:
import pandas
df1=pandas.read_csv('supermarkets.csv')
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [3]:
df2=pandas.read_json('supermarkets.json')
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [4]:
df3=pandas.read_excel('supermarkets.xlsx')
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
os.listdir()

['.ipynb_checkpoints',
 'AustinJohnHOMELivingDexSV_1.3.2_2.xlsx',
 'fruits.txt',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'temps_today.csv',
 'Untitled.ipynb',
 'verduras.txt']

In [6]:
df4=pandas.read_excel('AustinJohnHOMELivingDexSV_1.3.2_2.xlsx', sheet_name=3)
df4

C:\Users\Vicente Corts León\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,0,Page,Box,No,Row,Slot,Sprite,Name,Dex,1,...,Form name,Type 1,Type 2,-Form,-Gender,SwSh,BDSP,PLA,SV,Keyword
0,1,1.0,1.0,1.0,1.0,1.0,NaN,Bulbasaur,1.0,1,...,NaN,NaN,NaN,NaN,NaN,A068,1.0,NaN,B164,bulbasaur
1,2,1.0,1.0,2.0,1.0,2.0,NaN,Ivysaur,2.0,1,...,NaN,NaN,NaN,NaN,NaN,A069,2.0,NaN,B165,ivysaur
2,3,1.0,1.0,3.0,1.0,3.0,NaN,Venusaur,3.0,1,...,NaN,NaN,NaN,NaN,NaN,A070,3.0,NaN,B166,venusaur
3,4,1.0,1.0,4.0,1.0,4.0,NaN,Charmander,4.0,1,...,NaN,NaN,NaN,NaN,NaN,378,4.0,NaN,B167,charmander
4,5,1.0,1.0,5.0,1.0,5.0,NaN,Charmeleon,5.0,1,...,NaN,NaN,NaN,NaN,NaN,379,5.0,NaN,B168,charmeleon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1287,2.0,17.0,6.0,1.0,6.0,NaN,Raging Bolt,1021.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B237,raging bolt
1287,1288,2.0,17.0,7.0,2.0,1.0,NaN,Iron Boulder,1022.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B239,iron boulder
1288,1289,2.0,17.0,8.0,2.0,2.0,NaN,Iron Crown,1023.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B238,iron crown
1289,1290,2.0,17.0,9.0,2.0,3.0,NaN,Terapagos,1024.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B240,terapagos
1290,1291,2.0,17.0,10.0,2.0,4.0,NaN,Pecharunt,1025.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pecharunt

In [7]:
df4=pandas.read_excel('AustinJohnHOMELivingDexSV_1.3.2_2.xlsx', sheet_name=0)
df4

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,Austin John's Home Living Dex Organizer,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Non-Shiny Version 1.3.2,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,This Google Sheet will help you organize your ...,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,"First pick which ""DEX"" tab (found at bottom of...",NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Your Options,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Living Form,LivingFormLITE,Living,FinalFormForm,FinalForm,Example
6,NaN,Regional Diffs,x,x,x,x,x,Original & Alolan Geodude
7,NaN,Pre Evos,x,x,x,NaN,NaN,"Pichu, Pikachu, & Raichu"
8,NaN,Form Diffs,x,x,NaN,x,NaN,All Cap Pikachu & 47 Alcreamie
9,NaN,Gender Diffs,x,NaN,NaN,NaN,NaN,"Venusaur, Hippowdon, & Oinkalone"
10,NaN,If you are importing an older version of the d...,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Explanation Video:,NaN,https://youtu.be/ISPbxFiZkNg,NaN,NaN,NaN,NaN
12,NaN,PokeJungle Update URL:,NaN,https://pokejungle.net/how-to-organize-pokemon...,NaN,NaN,NaN,NaN
13,NaN,Example KEY,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Notes about the Pokedex columns,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,These are for pokemon who's species is in a ga...,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Import Tool!,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,The import tool is a tab below to seamlessly u...,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,"Some codes to use for the ""Complete"" column",NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,1,don't have,NaN,NaN,NaN,NaN,NaN
21,NaN,0,have,NaN,NaN,NaN,NaN,NaN
22,NaN,sv,a placeholder i use for pokemon i have in Scar...,NaN,NaN,NaN,NaN,NaN
23,NaN,x,"i have this pokemon's earlier form, just need ...",NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,put your own codes here to help yourself out,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,1.0.1,Mewtwo and Mew Fixed in LivingFormDex / Added ...,NaN,NaN,NaN,NaN,NaN
27,NaN,1.0.2,Added Gimmighoul Roaming. Added Page:FF-FormDe...,NaN,NaN,NaN,NaN,NaN
28,NaN,1.0.3,Importer Tool Added. Pages Renamed. Codes Fixe...,NaN,NaN,NaN,NaN,NaN
29,NaN,1.0.4,Qwilfish added. Charjabug and Grubbin were swa...,NaN,NaN,NaN,NaN,NaN
30,NaN,1.0.5,"Alolan Diglett+Dugtrio SwSh Dex added, Gourgei...",NaN,NaN,NaN,NaN,NaN
31,NaN,1.0.6,FinalFF Dex - box order in 2nd gen error,NaN,NaN,NaN,NaN,NaN
32,NaN,1.1,Teal Mask Update - added all Teak Mask Pokemon...,NaN,NaN,NaN,NaN,NaN
33,NaN,1.2,Indigo Disk Added - Duraladon and Dipplin Remo...,NaN,NaN,NaN,NaN,NaN
34,NaN,1.3,Added Types of all Pokemon and Forms. Fixed er...,NaN,NaN,NaN,NaN,NaN
35,NaN,1.3.1,Fixed some errors on pokemon types for females...,NaN,NaN,NaN,NaN,NaN
36,NaN,1.3.2,Fixed Box Numbering on Final Form. Pecharunt a...,NaN,NaN,NaN,NaN,NaN

In [8]:
df4=pandas.read_excel('AustinJohnHOMELivingDexSV_1.3.2_2.xlsx', sheet_name=1)
df4

,"If using an older document you can import it put pasting your OLD URL in B2, next to ""Import Link."" B3 will now saw REF, Click it and select ""Allow Access""",Unnamed: 1,Unnamed: 2
0,Import Link,NaN,NaN
1,Old Page Version,NaN,NaN
2,Tab Version Swap,If you want to start tracking your pokemon in ...,NaN
3,Warning,YOU ARE IMPORTING A NEW VERSION INTO AN OLDER ...,#VALUE!
4,For people having trouble importing old versio...,NaN,NaN