In [11]:
#Making basic bokeh Graph

#importing bokeh
from bokeh.plotting import figure
from bokeh.io import output_file, show

#prepare some data
x=[1,2,3]
y=[6,7,8]

#prepare de output file
output_file("Line.html")

#create figure object
f=figure()

#create line plot
f.line(x,y)
#f.triangle(x,y) -> BokehDeprecationWarning: 'triangle() method' was deprecated in Bokeh 3.4.0 and will be removed, use "scatter(marker='triangle', ...) instead" instead.
#f.circle(x,y,0.1)

#write the plot in the figure boject
show(f)

#Crt+Enter para ver el gr치fico
#Jugar con las pesta침as laterales

In [4]:
#Making basic bokeh Graph

#importing bokeh and pandas
from bokeh.plotting import figure
from bokeh.io import output_file, show
import pandas

#prepare some data
df=pandas.read_csv("downloads/data.csv")
x=df["x"]
y=df["y"]

#prepare de output file
output_file("Line_from_csv.html")

#create figure object
f=figure()

#create line plot
f.line(x,y)
#f.triangle(x,y) -> BokehDeprecationWarning: 'triangle() method' was deprecated in Bokeh 3.4.0 and will be removed, use "scatter(marker='triangle', ...) instead" instead.
#f.circle(x,y,0.1)

#write the plot in the figure boject
show(f)

#Crt+Enter para ver el gr치fico
#Jugar con las pesta침as laterales

In [6]:
df

   x   y
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [7]:
df["y"]

0     6
1     7
2     8
3     9
4    10
Name: y, dtype: int64